<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listas Dos Melhores Livros</title>
</head>
<body>
  <div class="container-list">
      <div class="container-header">
         <h1>{{ tituloPaginaInicial }}</h1>
      </div>
      <table class="table">
         <thead class="thead-padrao">

         {%for sequenciaDeLivros in sequenciaDeLivros %}
           <tr>
              <td>{{ sequenciaDeLivros }}</td>
           </tr>
         {%endfor%}

         </thead>
       </table>
  </div>
</body>
</html>